In [5]:
import sqlite3
import numpy as np
import pandas as pd

conn = sqlite3.connect("sqlite/data.db3")
db = conn.cursor()
'''
db.execute("""CREATE TABLE films
                 (id INTEGER PRIMARY KEY AUTOINCREMENT not null,
                 url text,
                 title text default '',
                 budget INTEGER default 0,
                 sales_www INTEGER default 0)""")
conn.commit()

films = np.loadtxt("films.txt", dtype="str")
for film in films:
    db.execute("INSERT INTO films (url) VALUES (?)", (film,))
conn.commit()
'''
data = np.array(db.execute("SELECT * FROM films").fetchall())
data = pd.read_sql_query("SELECT * FROM films", conn)
print (data)

      id             url title  budget  sales_www
0      1      /film/326/             0          0
1      2      /film/435/             0          0
2      3      /film/448/             0          0
3      4      /film/329/             0          0
4      5   /film/535341/             0          0
5      6   /film/447301/             0          0
6      7      /film/389/             0          0
7      8     /film/2360/             0          0
8      9      /film/361/             0          0
9     10    /film/42664/             0          0
10    11      /film/381/             0          0
11    12    /film/32898/             0          0
12    13      /film/325/             0          0
13    14      /film/342/             0          0
14    15    /film/42782/             0          0
15    16   /film/195334/             0          0
16    17      /film/530/             0          0
17    18   /film/258687/             0          0
18    19      /film/474/             0          0
19    20     /film/3498/             0          0
20    21      /film/476/             0          0
21    22      /film/522/             0          0
22    23      /film/301/             0          0
23    24    /film/46225/             0          0
24    25    /film/81314/             0          0
25    26     /film/7660/             0          0
26    27    /film/42667/             0          0
27    28   /film/102124/             0          0
28    29    /film/39259/             0          0
29    30      /film/363/             0          0
..   ...             ...   ...     ...        ...
196  197    /film/44924/             0          0
197  198      /film/451/             0          0
198  199   /film/252330/             0          0
199  200     /film/1942/             0          0
200  201     /film/2428/             0          0
201  202    /film/41830/             0          0
202  203      /film/486/             0          0
203  204      /film/347/             0          0
204  205   /film/320230/             0          0
205  206   /film/848894/             0          0
206  207    /film/45817/             0          0
207  208      /film/863/             0          0
208  209      /film/442/             0          0
209  210    /film/46047/             0          0
210  211      /film/309/             0          0
211  212   /film/391762/             0          0
212  213    /film/20897/             0          0
213  214    /film/41381/             0          0
214  215    /film/44838/             0          0
215  216    /film/43602/             0          0
216  217    /film/26656/             0          0
217  218    /film/45398/             0          0
218  219   /film/909720/             0          0
219  220  /film/1118042/             0          0
220  221    /film/86311/             0          0
221  222   /film/714248/             0          0
222  223    /film/22907/             0          0
223  224   /film/423210/             0          0
224  225    /film/89514/             0          0
225  226      /film/471/             0          0

[226 rows x 5 columns]